---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()

const { hideContinue } = Astro.props;

---

<footer>
  { !hideContinue && <CallToAction /> }
  <section class="py-8">
    <div class="container text-center opacity-50">
      <p>
        <a href="bangladeshos.github.io">Bangladesh Open Source</a> is
        licensed under MIT - &copy; <a href="https://bangladeshos.github.io">Bangladesh Open Source</a>
        {' ' + currentYear}
      </p>
    </div>
  </section>
</footer>
